/* CSS Reset */
#element { margin:0; padding:0; font-size:100%; line-height:1; }

body, html{
  margin: 0;
  padding:0px;
  width:100%;
  font-family:sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 35px;
}

p {
  font-size: 13px;
}
.header-container, .footer-container {
  background-color: #363636;
  height: 70px;
}

.header-container-center{
  margin: 0 35px;
  color:white;
  text-align:left;
  font-family:sans-serif;
  font-weight: lighter;
  font-size: 18px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-container-center-text{
  /*margin-right: 30px;*/
  margin-right:40px;
  display: inline;
}

.middle-container {
  margin: 30px 35px;
  text-align: left;
  /*width: 100%;*/
  font-size: 0;
}

.middle-container-column1, .middle-container-column2 {
  width: 47.5%;
  display: inline-block;
  vertical-align: top;
}

.middle-container-column2 {
  padding-left: 5%;
}

.middle-container-column2-block {
  height: 250px;
  background-color: #D6D7D6;
}
